@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<article class="container-fluid ">
    <div class="bg-img-about " style="height:300px">
        <div class="container d-flex h-100 align-items-center">
        <h3 class="fw-bold fs-2 text-success">
            Few Words about Us
        </h3>
        </div>
    </div>
</article>
<div class="container mt-3 py-5">
    <div class="row p-5">
        <div class="col-6">
            <div class="d-flex gap-2 align-items-center fs-3">
                <h2 class="fs-1 fw-bold">
                    We Work
                </h2>
                <span>for your best Success</span>
            </div>
            <spn class="py-2 d-block"> <span class="" style="margin-left:30px">Consectetur</span>  adipiscing elit. Aliquam sit amet efficitur tortor.Uspendisse efficitur orci urna. In et augue ornare, tempor massa in, luctus sapien.</spn>
            <ul class="mb-3">
                <li class="my-3 p-0 "><i class="fa-solid fa-square-check"></i> Ut enim ad minim veniam</li>
                <li class="my-3 p-0 "><i class="fa-solid fa-square-check"></i> Quis nostrud exercitation ullamco laboris</li>
                <li class="my-3 p-0 "><i class="fa-solid fa-square-check"></i> Nisi ut aliquip ex ea commodo consequat</li>
            </ul>
            <div>
                <button class="btn btn-warning text-uppercase pt-2 mt-4">view our products</button>
            </div>
        </div>
        <div class="col-6">
            <img class="w-75 rounded-3 object-fit-cover" style="height: 250px" src="https://i.pinimg.com/236x/0b/db/e4/0bdbe45944bde10361466f965b729fa4.jpg" alt="Alternate Text" />
        </div>
    </div>
</div>

<div class="container-fluid bg-img-footer-about py-5" style="height:500px">
    <div class="container">
        <span class="text-white fs-3">Our <strong class="fs-1">Customer</strong> Says</span>
        <p class="py-3 w-50 text-success fs-5">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, eaque ipsa quae ab illo inventore.</p>
        <div class="row">
            <div class="col-4 px-4">
                <div class="bg-white rounded-3 p-4">
                <div class="p-2">
                    <p class="lh-1">
                        <strong class="text-warning fw-lighter" style="font-size:40px">&#10077;</strong> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit.<span>&#10078;</span>
                    </p>
                    <div class="d-flex align-items-center gap-2">
                        <img style="height:80px;width:80px;border-radius:50%" src="https://images.pexels.com/photos/1520760/pexels-photo-1520760.jpeg?auto=compress&cs=tinysrgb&w=600" />
                        <div class="lh-1">
                            <h4 class="d-block mb-0">
                                PeTey Cruis
                            </h4>
                            <span class="d-block mt-0">Cption Here</span>
                        </div>
                </div>
                    </div>
                </div>
            </div>
            <div class="col-4 px-4">
                <div class="bg-white rounded-3 p-4">
                    <div class="p-2">
                        <p class="lh-1">
                            <strong class="text-warning fw-lighter" style="font-size:40px">&#10077;</strong> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit.<span>&#10078;</span>
                        </p>
                        <div class="d-flex align-items-center gap-2">
                            <img style="height:80px;width:80px;border-radius:50%" src="https://images.pexels.com/photos/1520760/pexels-photo-1520760.jpeg?auto=compress&cs=tinysrgb&w=600" />
                            <div class="lh-1">
                                <h4 class="d-block mb-0">
                                    PeTey Cruis
                                </h4>
                                <span class="d-block mt-0">Cption Here</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 px-4">
                <div class="bg-white rounded-3 p-4">
                    <div class="p-2">
                        <p class="lh-1">
                            <strong class="text-warning fw-lighter" style="font-size:40px">&#10077;</strong> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit.<span>&#10078;</span>
                        </p>
                        <div class="d-flex align-items-center gap-2">
                            <img style="height:80px;width:80px;border-radius:50%" src="https://images.pexels.com/photos/1520760/pexels-photo-1520760.jpeg?auto=compress&cs=tinysrgb&w=600" />
                            <div class="lh-1">
                                <h4 class="d-block mb-0">
                                    PeTey Cruis
                                </h4>
                                <span class="d-block mt-0">Cption Here</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<nav class="container-fluid bg-white py-5">
    <div class="container">
        <h3>
            Electronics :
        </h3>
        <p class="">
            If you're considering a new laptop, looking for a powerful new car stereo or shopping for a new HDTV, we make it easy to find exactly what you need at a price you can afford. We offer Every Day Low Prices on TVs, laptops, cell phones, tablets and iPads, video games, desktop computers, cameras and camcorders, audio, video and more.
        </p>
        <div class="row mt-5">
            <div class="col-4">
                <div class="d-flex gap-3">
                    <span class="fw-bolder d-flex align-items-center">
                        <i class=" fa-solid fa-dolly text-warning" style="font-size:40px"></i>
                    </span>
                    <span class="d-block lh-sm">
                        <span class="fw-bold d-block fs-2">Free Shipping</span>
                        <span class="">on orders over $100</span>
                    </span>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex gap-3">
                    <span class="fw-bolder d-flex align-items-center">
                        <i class=" fa-solid fa-truck  text-warning" style="font-size:40px"></i>
                    </span>
                    <span class="d-block lh-sm">
                        <span class="fw-bold d-block fs-2">Fast Delivery</span>
                        <span class="">World Wide</span>
                    </span>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex gap-3">
                    <span class="fw-bolder d-flex align-items-center">
                        <i class=" fa-solid fa-thumbs-up text-warning" style="font-size:40px"></i>

                    </span>
                    <span class="d-block lh-sm">
                        <span class="fw-bold d-block fs-2">Big Choice</span>
                        <span class="">of Products</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

</nav>