<nav class="container-fluid bg-img-phone shadow-lg bg-light">
    <div class="container" style="height:500px">
        <div class="row p-5 h-100">
            <div class="col-6 h-100 d-flex justify-content-end ">
                <img class="h-100 object-fit-cover rounded-3" src="https://beckie-khmer.com/storage/products/HgLsoTwT5v9YsdmOKT2WUmvAI9PJmQbBAfcSWERt.jpeg" alt="Alternate Text" />
            </div>

            <div class="col-6 h-100 d-flex justify-content-start ">
                <img class="h-100 object-fit-cover rounded-3" src="https://www.goldonecomputer.com/image/cache/catalog/Products/ASUS/2023/GX650PY-Black-1-330x409.jpg" alt="Alternate Text" />
            </div>

        </div>
    </div>
</nav>
<nav class="container mt-5 shadow-lg bg-light">
    <div class="d-flex justify-content-center pt-5">
        <h1 class="text-center py-1 px-3 m-0 text-uppercase text-primary text-decoration-underline fs-1">
            our laptop products
        </h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 p-3">
        <div class="col bg-transparent p-1 h-auto">
            <div class="w-100 h-auto rounded-3 shadow-lg bg-light overflow-hidden" style="padding:10px">
                <div class="w-100 h-100 position-relative bg-transparent" style="padding:20px">
                    <div class="w-100 h-75 d-flex justify-content-center rounded-3 overflow-hidden align-items-center">
                        <img class="d-block object-fit-cover h-100" src="https://i.pinimg.com/236x/36/44/cc/3644cc509574c054793009034e9ac827.jpg" alt="Alternate Text" />
                    </div>
                    <div class="w-100 d-block px-2 py-2 h-25">
                        <span class=" text-center d-block my-1">
                            ASUS ROG Strix G16 16" QHD+
                        </span>
                        <ul class="d-flex justify-content-center gap-3 align-items-center my-2">
                            <li class="text-success fw-bold">200$</li>
                            <li class="text-decoration-line-through text-danger">210$</li>
                        </ul>
                        <div class="px-5">
                            <button class="btn btn-primary w-100 d-block">add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col bg-transparent p-1 h-auto">
            <div class="w-100 h-auto rounded-3 shadow-lg bg-light" style="padding:10px">
                <div class="w-100 h-100 position-relative bg-transparent " style="padding:20px">
                    <div class="w-100 h-75 d-flex justify-content-center overflow-hidden rounded-3 align-items-center">
                        <img class="d-block object-fit-cover h-100 w-100" src="https://i.pinimg.com/736x/9e/39/16/9e39168e05cb7e887e44fd68ff3d8529.jpg" alt="Alternate Text" />
                    </div>
                    <div class="w-100 d-block px-2 py-2 h-25">
                        <span class=" text-center d-block my-1">
                            ASUS ROG Strix G16 16" QHD+
                        </span>
                        <ul class="d-flex justify-content-center gap-3 align-items-center my-2">
                            <li class="text-success fw-bold">200$</li>
                            <li class="text-decoration-line-through text-danger">210$</li>
                        </ul>
                        <div class="px-5">
                            <button class="btn btn-primary w-100 d-block">add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <div class="col bg-transparent p-1 h-auto">
            <div class="w-100 h-auto rounded-3 shadow-lg bg-light" style="padding:10px">
                <div class="w-100 h-100 position-relative bg-transparent " style="padding:20px">
                    <div class="w-100 h-75 d-flex justify-content-center overflow-hidden rounded-3 align-items-center">
                        <img class="d-block object-fit-cover h-100 w-100" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/mbp-14-digitalmat-gallery-1-202410?wid=728&hei=666&fmt=png-alpha&.v=1728342371746" alt="Alternate Text" />
                    </div>
                    <div class="w-100 d-block px-2 py-2 h-25">
                        <span class=" text-center d-block my-1">
                            MacBook Pro 14-inch
                        </span>
                        <ul class="d-flex justify-content-center gap-3 align-items-center my-2">
                            <li class="text-success fw-bold">$ 1499 </li>
                            <li class="text-decoration-line-through text-danger">$1599</li>
                        </ul>
                        <div class="px-5">
                            <button class="btn btn-primary w-100 d-block">add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <div class="col bg-transparent p-1 h-auto">
            <div class="w-100 h-auto rounded-3 shadow-lg bg-light" style="padding:10px">
                <div class="w-100 h-100 position-relative bg-transparent " style="padding:20px">
                    <div class="w-100 h-75 d-flex justify-content-center overflow-hidden rounded-3 align-items-center">
                        <img class="d-block object-fit-cover h-100 w-100" src="https://i.pinimg.com/236x/a0/68/62/a0686217ca0504ddb010d7f3f8d13eca.jpg" alt="Alternate Text" />

                 
                    </div>
                    <div class="w-100 d-block px-2 py-2 h-25">
                        <span class=" text-center d-block my-1">
                            ASUS ROG Strix G16 16" QHD+
                        </span>
                        <ul class="d-flex justify-content-center gap-3 align-items-center my-2">
                            <li class="text-success fw-bold">200$</li>
                            <li class="text-decoration-line-through text-danger">210$</li>
                        </ul>
                        <div class="px-5">
                            <button class="btn btn-primary w-100 d-block">add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <div class="col bg-transparent p-1 h-auto">
            <div class="w-100 h-auto rounded-3 shadow-lg bg-light" style="padding:10px">
                <div class="w-100 h-100 position-relative bg-transparent " style="padding:20px">
                    <div class="w-100 h-75 d-flex justify-content-center overflow-hidden rounded-3 align-items-center">
                        <img class="d-block object-fit-cover h-100 w-100" src="https://i.pinimg.com/736x/4c/ba/7b/4cba7b0c76e5be64c4fe38c03074b043.jpg" alt="Alternate Text" />
                    </div>
                    <div class="w-100 d-block px-2 py-2 h-25">
                        <span class=" text-center d-block my-1">
                            ASUS ROG Strix G16 16" QHD+
                        </span>
                        <ul class="d-flex justify-content-center gap-3 align-items-center my-2">
                            <li class="text-success fw-bold">200$</li>
                            <li class="text-decoration-line-through text-danger">210$</li>
                        </ul>
                        <div class="px-5">
                            <button class="btn btn-primary w-100 d-block">add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>  <div class="col bg-transparent p-1 h-auto">
            <div class="w-100 h-autorounded-3 shadow-lg bg-light" style="padding:10px">
                <div class="w-100 h-100 position-relative bg-transparent " style="padding:20px">
                    <div class="w-100 h-75 d-flex justify-content-center overflow-hidden rounded-3 align-items-center">
                        <img class="d-block object-fit-cover h-100 w-100" src="https://i.pinimg.com/736x/b6/9e/ae/b69eae05a3819a5029745474dcbaa50b.jpg" alt="Alternate Text" />
                    </div>
                    <div class="w-100 d-block px-2 py-2 h-25">
                        <span class=" text-center d-block my-1">
                            Lenovo Legion 5 Pro 82JQ010EIN
                        </span>
                        <ul class="d-flex justify-content-center gap-3 align-items-center my-2">
                            <li class="text-success fw-bold">200$</li>
                            <li class="text-decoration-line-through text-danger">210$</li>
                        </ul>
                        <div class="px-5">
                            <button class="btn btn-primary w-100 d-block">add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>  <div class="col bg-transparent p-1 h-auto">
            <div class="w-100 h-auto rounded-3 shadow-lg bg-light" style="padding:10px">
                <div class="w-100 h-auto position-relative bg-transparent " style="padding:20px">
                    <div class="w-100 h-75 d-flex justify-content-center overflow-hidden rounded-3 align-items-center">
                        <img class="d-block object-fit-cover h-100 w-100" src="https://i.pinimg.com/736x/10/12/86/10128638f7533b2c834d58b905e20c25.jpg" alt="Alternate Text" />
                    </div>
                    <div class="w-100 d-block px-2 py-2 h-25">
                        <span class=" text-center d-block my-1">
                            MSI Raider GE78 HX 13V – Light'em Up
                        </span>
                        <ul class="d-flex justify-content-center gap-3 align-items-center my-2">
                            <li class="text-success fw-bold">200$</li>
                            <li class="text-decoration-line-through text-danger">210$</li>
                        </ul>
                        <div class="px-5">
                            <button class="btn btn-primary w-100 d-block">add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <div class="col bg-transparent p-1 h-auto">
            <div class="w-100 h-auto rounded-3 shadow-lg bg-light" style="padding:10px">
                <div class="w-100 h-100 position-relative bg-transparent " style="padding:20px">
                    <div class="w-100 h-75 d-flex justify-content-center overflow-hidden rounded-3 align-items-center">
                        <img class="d-block object-fit-cover h-100 w-100" src="https://i.pinimg.com/736x/f4/38/1e/f4381e838083612682be3b841f8378b3.jpg" alt="Alternate Text" />

                    </div>
                    <div class="w-100 d-block px-2 py-2 h-25">
                        <span class=" text-center d-block my-1">
                            MSI VEC68HX13054 Vector
                        </span>
                        <ul class="d-flex justify-content-center gap-3 align-items-center my-2">
                            <li class="text-success fw-bold">200$</li>
                            <li class="text-decoration-line-through text-danger">210$</li>
                        </ul>
                        <div class="px-5">
                            <button class="btn btn-primary w-100 d-block">add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</nav>
<nav class="container-fluid bg-img-footer mt-5 py-5">
    <div class="container" style="height:400px">
        <div class="row h-100">
            <div class="col-6 h-100 d-flex ">
                <div class="w-25 h-100 d-flex flex-column justify-content-center align-items-center px-2">
                    <span class="d-block text-white">The best Sale of Iphone</span>
                    <span class="d-block text-white ">Good price and more discount 10% to ...</span>
                </div>
                <div class="w-75 h-100">
                    <img class="w-100 h-100" src="https://www.goldonecomputer.com/image/cache/catalog/Products/ASUS/2023/GAMING/ROG-G614-Black-330x409.jpg" alt="Alternate Text" />
                </div>
            </div>
            <div class="col-6 h-100 d-flex ">
                <div class="w-25 h-100 d-flex flex-column justify-content-center align-items-center px-2">
                    <span class="d-block text-white">The best Sale of Iphone</span>
                    <span class="d-block text-white ">Good price and more discount 10% to ...</span>
                </div>
                <div class="w-75 h-100">
                    <img class="w-100 h-100" src="https://beckie-khmer.com/storage/products/HgLsoTwT5v9YsdmOKT2WUmvAI9PJmQbBAfcSWERt.jpeg" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </div>
</nav>