<nav class="container-fluid bg-img-phone shadow-lg bg-light">
    <div class="container" style="height:500px">
        <div class="row p-5 h-100">
            <div class="col-6 h-100 d-flex justify-content-end">
                <img class="h-100 object-fit-cover" src="~/pic/Image/Image-Header/Samsung.jpg" alt="Alternate Text" />
            </div>
            
                <div class="col-6 h-100 d-flex justify-content-start">
                    <img class="h-100 object-fit-cover" src="~/pic/Image/Image-Header/Iphon1.jpg" alt="Alternate Text" />
                </div>
            
        </div>
    </div>
</nav>

<nav class="container mt-5 shadow-lg bg-light">
    <div class="d-flex justify-content-center pt-5">
        <h1 class="text-center py-1 px-3 m-0 text-uppercase text-primary text-decoration-underline fs-1">
            our phone products
        </h1>
    </div>
    <div class="row row-cols-1 row-cols-md-4 h-auto">
        <div class="col bg-transparent p-2 h-auto">
            <div class="w-100 h-auto rounded-3 bg-light shadow-lg" style="padding:10px">
                <div class="w-100 h-100 position-relative rounded-3 bg-transparent overflow-hidden" style="padding:20px">
                    <div class="w-100 h-75 d-flex justify-content-center align-items-center overflow-hidden rounded-3">
                        <img class="d-block object-fit-cover h-100 w-100" src="https://i.pinimg.com/474x/44/6a/05/446a054a942b369a50fc3d5eb1908856.jpg" alt="Alternate Text" />
                    </div>
                    <div class="w-100 d-block px-3 py-2">
                        <span class=" text-center d-block my-1">
                            I phone 16 Por max
                        </span>
                        <ul class="d-flex justify-content-center gap-3 align-items-center my-2">
                            <li class="text-success fw-bold">200$</li>
                            <li class="text-decoration-line-through text-danger">210$</li>
                        </ul>
                        <button class="btn btn-primary w-100 d-block">add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col bg-transparent p-2 h-auto">
            <div class="w-100 h-auto rounded-3 bg-light shadow-lg" style="padding:10px">
                <div class="w-100 h-100 position-relative rounded-3 bg-transparent overflow-hidden" style="padding:20px">
                    <div class="w-100 h-75 d-flex justify-content-center align-items-center overflow-hidden rounded-3">
                        <img class="d-block object-fit-cover h-100 w-100" src="https://www.tree-mobile.com/wp-content/uploads/2024/03/Samsung-Galaxy-S24-Ultra-5G.jpg" alt="Alternate Text" />
                    </div>
                    <div class="w-100 d-block px-3 py-2">
                        <span class=" text-center d-block my-1">
                            Samsung S24 Ultra
                        </span>
                        <ul class="d-flex justify-content-center gap-3 align-items-center my-2">
                            <li class="text-success fw-bold">1200$</li>
                            <li class="text-decoration-line-through text-danger">210$</li>
                        </ul>
                        <button class="btn btn-primary w-100 d-block">add to cart</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</nav>
<nav class="container-fluid bg-img-footer mt-5 py-5">
    <div class="container" style="height:400px">
        <div class="row h-100">
            <div class="col-6 h-100 d-flex ">
                <div class="w-50 h-100 d-flex flex-column justify-content-center align-items-center px-2">
                    <span class="d-block text-white">The best Sale of Iphone</span>
                    <span class="d-block text-white ">Good price and more discount 10% to ...</span>
                </div>
                <div class="w-50 h-100">
                    <img class="w-100 h-100" src="https://i.pinimg.com/736x/52/c5/1b/52c51bbe0ea48c66858a00816549edac.jpg" alt="Alternate Text" />
                </div>
            </div>
           <div class="col-6 h-100 d-flex ">
                <div class="w-50 h-100 d-flex flex-column justify-content-center align-items-center px-2">
                    <span class="d-block text-white">The best Sale of Iphone</span>
                    <span class="d-block text-white ">Good price and more discount 10% to ...</span>
                </div>
                <div class="w-50 h-100">
                    <img class="w-100 h-100" src="https://www.tree-mobile.com/wp-content/uploads/2024/03/Samsung-Galaxy-S24-Ultra-5G.jpg" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </div>
</nav>