<nav class="container ">
     <h1 class="text-center py-4">
         Check Out Products
     </h1>
<div class="row ">
    <div>

    </div>
    <div class="col-6  m-auto">
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Qty</th>
            <th scope="col">Price</th>
            <th scope="col">Discount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Iphone 14Pro</td>
            <td>1</td>
            <td>900$</td>
            <td>10%</td>
        </tr>
                    <tr class="bg-success">
                        <th colspan="4" scope="row">Total</th>
                        <td  class="">810$</td>
                    </tr>
    </tbody>
</table>

<h2 class="text-center py-2">Detail Address</h2>
<form class="row g-3" >
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">FullName</label>
        <input type="text" class="form-control" id="" placeholder="input full name">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="input phone number">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Pay</label>
        <select id="inputState" class="form-select">
            <option selected>Choose </option>
            <option>Visa</option>
            <option>ABA</option>
            <option>AC</option>
            <option>QR</option>
        </select>
    </div>
@*      <div class="col-md-2">
         <label for="inputZip" class="form-label">Zip</label>
         <input type="text" class="form-control" id="inputZip">
     </div> *@
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Payment</button>
    </div>
</form>

    </div>
</div>
</nav>